@font-face {
    font-family: "lato";
    src: url(../font/Lato/Lato-Light.ttf);
}

* {
    font-family: "lato", sans-serif;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
}

/* HEADER */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

header ul {
    display: flex;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    transition: all .3s;
}

header a:hover {
    background-color: grey;
}

input,
button {
    background-color: transparent;
    border: none;
    padding: 1rem;
}

#imgHeader {
    height: 50vh;
    background-image: url(../img/parallax1.jpg);
    background-position: 50%, -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgHeader h1 {
    color: white;
    background-color: #3f3f3f;
    padding: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

/* SECTION ABOUTME */

h2 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.love {
    color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding-bottom: 1rem;
}

.about {
    width: 70%;
    margin: 0 auto;
}

#name {
    display: flex;
    width: 65%;
    margin: 3rem auto;
    justify-content: space-around;
}

figure {
    width: 90%;
    text-align: center;
}

figure img {
    width: 100%;
    margin-top: 1.5rem;
}

.welcome {
    width: 70%;
}

figcaption i {
    margin-right: 1rem;
}

/* SECTION PERCENTAGE */

#percentage {
    margin: 0 auto;
    width: 70%;
}

.reallygood {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.skills {
    letter-spacing: 0.5rem;
}

.container {
    background-color: #f1f1f1;
    width: 100%;
    margin: 1rem 0;
}

.skill {
    background-color: #616161;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.photography {
    width: 90%;
}

.webdesign {
    width: 85%;
}

.photoshop {
    width: 75%;
}

/* SECTION RELATIONS */

#relations {
    display: flex;
    justify-content: space-around;
    background-color: #616161;
    padding: 2rem;
    margin-top: 3rem;
}

.number,
.namerelation {
    color: white;
    text-align: center;
}

.number {
    font-size: 1.5rem;
}

/* SECTION PORTOFOLIO */

#imgPortofolio {
    height: 50vh;
    background-image: url(../img/parallax2.jpg);
    background-position: 50%, -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

#portofolio p {
    color: #3f3f3f;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    padding: 0.5rem;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 2rem auto;
}

.photos img {
    width: 20%;
    margin: 0.5rem;
}

#portofolio button {
    background-color: #f1f1f1;
    color: #616161;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

/* SECTION CONTACT */

#imgContact {
    height: 50vh;
    background-image: url(../img/parallax3.jpg);
    background-position: 50%, -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
